@import '../../Global/variables.scss';

.offer_container {
    margin-top: 10.7rem;
}

.offer {
    // width: 59.2rem;
    display: flex ;

    &_parent {
        width: 100%;
        height: 30rem;
        background-size: contain;
        background-repeat: no-repeat;

        &_content {
            padding: 34px 48px;
        }


        &_type {
            padding-top: 1.5rem;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.01em;
            color: $primaryWhite;
            background: #FFD480;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

        &_title {
            padding-top: 1.5rem;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 35px;
            color: $primaryColor3;
        }

        &_desc {
            padding-top: 1.5rem;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: $primaryColor6;
            width: 60%;
        }

        &_button {
            padding-top: 4.3rem;

            &_btn {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: $primaryWhite;
                background-color: $primaryColor4;
                padding: 1rem 2rem;
                border: none;
                cursor: pointer;
            }
        }

    }
}